@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a;
  color: #ffffff;
}

::selection {
  background: #ff0f10;
  color: #ffffff;
}
